body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8D2095;
}

body p {
    line-height: 1.15;
}

button:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.997);
}

/* main */
main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 50%;
}

.Imgs {
    max-width: 15rem;
    max-height: 15rem;
    width: auto;
    height: auto;
    display: block;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.rightButtonWrapper {
    margin-right: 5rem;
}

.leftButtonWrapper {
    margin-left: 5rem;
}

.coolButton {
    display: block;
    margin: 0 auto;
    transition-duration: 0.4s;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border-color: black;
    color: black;
    background-color: white;
}